apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-deployment
  labels:
    app: tasks
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tasks
  template:
    metadata:
      labels:
        app: tasks
    spec:
      containers:
      - name: tasks
        image: kvitkovski/kub-network-tasks:latest
        env:
        - name: TASKS_FOLDER
          value: tasks
        - name: AUTH_ADDRESS
          value: "auth-service.default"
