apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
  labels:
    app: users
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
      - name: users
        image: kvitkovski/kub-network-users:latest
        env:
        - name: AUTH_ADDRESS
          value: localhost
      - name: auth
        image: kvitkovski/kub-network-auth:latest
